<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task_list.task %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task_list.priority %>
</p>

<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
